# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.eggs/
dist/
build/
sdist/
wheel/
*.egg-info/

# Inventory files
inventories/

# Other
.vscode/
ansible.cfg
